// font-family: 'Aleo', serif;
// font-family: 'Josefin Sans', sans-serif;

$main-sans: 'Josefin Sans', sans-serif;
$main-serif: 'Aleo', serif;

$txt-color: #FFFFFF;

$color-blue: #5474FD;
$background-brown: #333333;

