
.nav {
    height: 10vh;
    background-color: fonts.$color-blue;
    color: fonts.$txt-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav__list {
    list-style-type: none;
    display: inline-flex;
}

.nav__logo {
    font-family: fonts.$main-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.nav__item {
    font-family: fonts.$main-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    text-transform: uppercase;
    margin: 10px;
}

.menu-btn {
    display: none;
    position: absolute;
    right: 50px;
}

#click {
    display: none;
}

.dropdown-list {
    display: none;
    list-style-type: none;
    width: 100vw;
    position: relative;
    top: 180px;
    background-color: fonts.$color-blue;
    text-align: center;
    height: auto;
}
.drop-item {
    padding:20px;
}

a {
    color: fonts.$txt-color;
    text-decoration: none;
}

a:visited {
    color: rgb(241, 187, 156);
}

a:hover {
    color: rgb(209, 102, 41);
}