
@use 'fonts';

@import 'landing';
@import 'nav';
@import 'about';
@import 'travel';
@import 'booking';
@import 'testimony';
@import 'footer';

header {
    max-width: 1773px;
    width: 100%;
}

body {
    max-width: 1773px;
    width: 100%;
}