.landing {
  height: 800px;
  background-image: url(/images/landing-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  color: #FFFFFF;
}

.landing__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.landing__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */
  letter-spacing: 6.82px;
}

.form-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
}

.input-search {
  width: 70%;
  min-height: 5vh;
  border: none;
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

.btn-search {
  background-color: #5474FD;
  min-height: 5vh;
  width: 30%;
  border: 3px solid white;
  margin: 0px;
  font-family: "Aleo", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.fa-search {
  margin-left: 5%;
}

.landing__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

.scroll-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 2.8px;
}

.nav {
  height: 10vh;
  background-color: #5474FD;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav__item {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: uppercase;
  margin: 10px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.section--about {
  height: 685px;
  color: #FFFFFF;
  background-image: url(/images/city.png);
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.heading--about {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
}

.text--about {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.btn--explore {
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #5474FD;
  color: #FFFFFF;
  border: none;
  height: 63px;
  max-width: 230px;
}

.img--about {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img--lake {
  width: 350px;
  margin: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.img--mountains {
  width: 350px;
  margin: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bar--travel {
  background-color: #333333;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shape--travel {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  bottom: -15px;
}

.info--travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section--travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text--travel {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  color: #E8E8E8;
}

.container--spain {
  min-height: 700px;
}

.spain--one {
  background-image: url(/images/house.png);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18% 32% 50%;
  grid-template-columns: 18% 32% 50%;
  -ms-grid-rows: 35% 65%;
  grid-template-rows: 35% 65%;
}

.spain--one > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.spain--one > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.spain--one > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.spain--one > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.spain--one > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.spain--one > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.spain--two {
  background-image: url(/images/cliffs.png);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 32% 18%;
  grid-template-columns: 50% 32% 18%;
  -ms-grid-rows: 35% 65%;
  grid-template-rows: 35% 65%;
}

.spain--two > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.spain--two > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.spain--two > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.spain--two > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.spain--two > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.spain--two > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.card--spain--one {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

.card--spain--two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

.card--spain {
  max-width: 530px;
  height: 371px;
  background-color: #232323;
  opacity: 0.9;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.card__heading--small {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-left: 5%;
}

.card__heading--large {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 5%;
}

.card__text {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #E8E8E8;
  max-width: 90%;
  margin-left: 5%;
}

.card__btn {
  background-color: #5474FD;
  width: 228px;
  height: 63px;
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin: 5%;
}

.container--testimony {
  background-image: url(/images/tourist-background.png);
  height: 731px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading--testimony {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  color: #FFFFFF;
}

.card--testimony {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
}

.img--testimony {
  width: 445px;
  height: 284px;
}

.info--testimony {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.name--testimony {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #FEFEFE;
}

.fa-quote-left {
  color: #5474FD;
}

.text--testimony {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #E8E8E8;
}

.footer {
  height: 371px;
  background-color: #232323;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

.footer__text {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.6px;
}

.footer__icons {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #E8E8E8;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.6px;
}

.footer__icon {
  margin: 5px;
}

.fa-linkedin-in {
  color: #5474FD;
}

@media screen and (max-width: 800px) {
  .form-search {
    width: 70%;
  }

  .img--lake, .img--mountains {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 60%;
  }

  .info--about {
    width: 60%;
    margin-left: 5vw;
  }

  .bar--travel {
    height: auto;
  }

  .shape--travel {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  .text--travel {
    font-size: 28px;
  }

  .spain--one {
    background-image: url(/images/house-medium.png);
  }

  .spain--two {
    background-image: url(/images/cliffs-medium.png);
  }

  .container--spain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card--spain {
    height: auto;
  }

  .container--testimony {
    background-image: url(/images/tourist-background-medium.png);
  }

  .name--testimony {
    margin-bottom: 0px;
  }

  .footer {
    height: auto;
  }
}
body {
  max-width: 1770px;
  width: 100%;
}