.landing {
  min-height: 737px;
  /*remove/change later*/
  background-image: url(/images/landing-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.landing__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

.form-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.input-search {
  width: 503px;
  /*remove/change later*/
  height: 63px;
  border: none;
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

.btn-search {
  background-color: #5474FD;
  height: 63px;
  width: 150px;
  border: none;
  margin: 0px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav {
  width: 100%;
  background-color: #5474FD;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav__item {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: uppercase;
  margin: 10px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}